.footer {
  $ft: &;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(245, 245, 247);
  &__title {
    padding: 18px 0 12px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: color(tertiary);
    }
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &__item {
      padding-bottom: 10px;
      & span {
        @include font-size(x-small);
        color: color(tertiary);
      }
      & a {
        @include font-size(x-small);
        color: color(primary);
      }
    }
  }

  &__nav {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px;

    @include medium {
      display: block;
      padding-top: 36px;
    }
    &__box {
      flex-basis: 25%;
    }

    &__item {
      padding-bottom: 24px;
      @include medium {
        padding: 0;
        width: 100%;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: color(tertiary);
          opacity: 0.6;
        }
      }
    }

    &__title {
      margin-bottom: 10px;
      @include medium {
        cursor: pointer;
        padding-top: 26px;
        position: relative;
        margin: 0;
        padding: 10px 0;
        &::after {
          content: "";
          display: block;
          width: 12px;
          height: 12px;
          background-image: url(../img/icon/chevron-arrow.svg);
          background-repeat: no-repeat;
          background-size: contain;
          right: 0;
          bottom: 12px;
          transform: rotateX(180deg);
          position: absolute;
          transition: transform 0.3s ease;
        }
      }
    }
    &--active {
      #{$ft} {
        &__nav__title::after {
          transform: none;
          transition: transform 0.3s ease;
        }
        &__nav__items {
          opacity: 1;
          transform: none;
          transition-delay: 200ms;
        }
      }
    }

    &__link {
      text-decoration: none;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        background-color: color(primary);
        left: 0;
        bottom: -4px;
        transition: width 0.3s ease;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }

    &__title,
    &__link {
      @include font-size(small);
      color: color(tertiary);
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      @include medium {
        display: none;
      }
    }

    &__items {
      margin-bottom: 10px;
      @include medium {
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.3s ease;
      }
    }
  }

  &__copyright {
    padding: 36px 0 12px;

    &__txt {
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: color(tertiary);
        display: block;
        margin-bottom: 16px;
        @include medium {
          display: none;
        }
      }
    }

    &__desc {
      @include font-size(x-small);
      color: color(tertiary);
      & a {
        color: blue;
        opacity: 0.6;
      }
    }

    &__bottom {
      @include clearfix;
    }

    &__locale {
      float: right;
      @include medium {
        float: none;
      }
      #{$ft}__locale__link {
        text-decoration: none;
        @include font-size(x-small);
        color: color(tertiary);
      }
    }

    &__legal {
      display: flex;
      align-items: center;
      gap: 30px;
      @include medium {
        display: block;
      }
    }

    #{$ft}__legal {
      &__txt {
        margin: 0;
        @include font-size(x-small);
        color: color(tertiary);
      }

      &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        @include small {
          display: inline-block;
        }
      }

      &__item {
        position: relative;
        padding-inline-end: 20px;
        color: color(tertiary);
        @include font-size(x-small);
        @include small {
          display: inline-block;
          padding-inline-end: 9px;
        }
        &::after {
          position: absolute;
          content: "";
          right: 4px;
          top: 4px;
          height: 10px;
          width: 1px;
          background-color: color(tertiary);
        }
      }
    }
  }
}
