.footer {
  $ft: &;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(245, 245, 247);
  &__metadata {
    padding: 18px 0 12px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: color(tertiary);
    }
    &__list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &__item {
      padding-bottom: 10px;
      & span {
        @include font-size(x-small);
        color: color(tertiary);
      }
      & a {
        @include font-size(x-small);
        color: color(primary);
      }
    }
  }

  &__nav {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px;

    @include medium {
      display: block;
      padding-top: 36px;
    }
    &__section {
      flex-basis: 25%;
    }

    &__item {
      padding-bottom: 24px;
      @include medium {
        padding: 0;
        width: 100%;
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: color(tertiary);
          opacity: 0.6;
        }
      }
    }

    &__title {
      @include font-size(small);
      font-weight: normal;
      margin-bottom: 10px;
      color: color(black, 2);
      font-weight: bold;
      @include medium {
        cursor: pointer;
        padding-top: 26px;
        position: relative;
        margin: 0;
        padding: 10px 0;
        &::after {
          content: "";
          display: block;
          width: 12px;
          height: 12px;
          background-image: url(../img/icon/chevron-arrow.svg);
          background-repeat: no-repeat;
          background-size: contain;
          right: 0;
          bottom: 12px;
          transform: rotateX(180deg);
          position: absolute;
          transition: transform 0.3s ease;
        }
      }
    }
    &--active {
      #{$ft} {
        &__nav__title::after {
          transform: none;
          transition: transform 0.3s ease;
        }
        &__menu__item {
          opacity: 1;
          transform: none;
          transition-delay: 200ms;
        }
      }
    }
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    @include medium {
      display: none;
    }
    &__item {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      @include medium {
        padding-left: 12px;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.3s ease;
      }
    }

    &__link {
      @include font-size(small);
      text-decoration: none;
      position: relative;
      color: color(black, 3);
      &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        background-color: color(primary);
        left: 0;
        bottom: -4px;
        transition: width 0.3s ease;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__copyright {
    padding: 36px 0 12px;
    &__top {
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: color(tertiary);
        display: block;
        margin-bottom: 16px;
        @include medium {
          display: none;
        }
      }
    }

    &__desc {
      @include font-size(small);
      color: color(tertiary);
      & a {
        color: blue;
        opacity: 0.6;
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
      @include medium {
        display: block;
      }
    }

    &__locale {
      @include medium {
        margin-bottom: 8px;
      }
      #{$ft}__locale__link {
        text-decoration: none;
        @include font-size(small);
        color: color(tertiary);
        @include medium {
          color: color(primary);
        }
      }
    }

    &__page-links {
      display: flex;
      align-items: center;
      gap: 30px;
      @include medium {
        display: block;
      }
      &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 10px;
        @include small {
          display: inline-block;
        }
      }
      &__item {
        position: relative;
        padding-right: 8px;
        margin-right: 8px;
        color: color(tertiary);
        @include font-size(x-small);
        @include small {
          display: inline-block;
        }
        &::after {
          position: absolute;
          content: "";
          right: 0;
          top: 2px;
          height: 12px;
          width: 1px;
          background-color: color(tertiary);
        }
      }
      &__link {
        text-decoration: none;
        @include font-size(small);
        color: color(primary);
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 1px;
          background-color: color(primary);
          left: 0;
          bottom: -4px;
          transition: width 0.3s ease;
        }
        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }

    &__text {
      margin: 0;
      @include font-size(small);
      color: color(tertiary);
    }
  }
}
