/* ==========================================================================
   Variable: Colors
   ========================================================================== */

// colors
$colors: (
  primary: rgba(22, 22, 23, 0.8),
  secondary: rgba(255, 255, 255, 0.8),
  tertiary: rgba(110, 110, 115),
  black: #222,
  grey: (
    0: #888,
    1: #fcfcfc,
  ),
  white: #fff,
  overlay: rgba(#000, 0.7),
  shadow: rgba(#000, 0.1),
  shadow-hover: rgba(#000, 0.2),
  social-media: (
    facebook: #1877f2,
    twitter: #1da1f2,
    instagram: #405de6,
    whatsapp: #25d366,
    youtube: #ff0000,
    spotify: #1db954,
  ),
);
